*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d1d8e0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #3867d6;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.logoandname{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
}
.logo{
    margin-left: 20px;
    margin-top: 10px;
    height: 70px;
}
.name{
    margin-right: 20px;
    margin-top: 25px;
}
h2{
    text-align: center;
}
.container{
    width: 100%;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 35px;
}
nav>a{
    margin-top: 5px;
    color: black;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tab{
    order: 2; /* Order предназначен для мобильной версии !!!!!!*/
}
a{
    text-decoration: none;
    font-size: 30px;
}
a:hover{
    color: red;
}
#hyperlinks{
    list-style-position: inside;
}
table{
    border: 4px double black;
}
th{
    font-size: 25px;
    border: 1px solid black;
}
tr:nth-child(odd){
     background-color: gray; 
}
tr:nth-child(even){
    background-color: #3867d6; 
}
footer{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    background-color: #4b6584;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
footer p{
    color: white;
    padding-top: 40px;
}
label{
    font-size: 30px;
}
p{
    font-size: large;
}
@media all and (orientation: landscape), (min-device-width: 700px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 65px;
        background-color: #3867d6;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .logoandname{
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 960px;
    }
    .logo{
        margin-top: 0;
        height: 60px;
    }
    .name{
        margin-top: 10px;
    }
    .container{
        width: 960px;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav>a{
        font-size: medium;
    }
    #tab{
        order: 0;/*!!!!!!!!!!!!!!!!!!!!!!*/ 
    }
    a{
        font-size: medium;
    }
    footer{
        height: 60px;
    }
    footer p{
        padding-top: 15px;
    }
    label{
        font-size: medium;
    }
    p{
        font-size: medium;
    }
}
